body{
    background-image: url(index.jpg);
    background-size: 100%;
}
h2{
    text-align: left;
    color: rgb(255, 255, 255);

}
.login{
    width: 200px;
    margin: 100px auto;
    padding: 50px 50px;
}

.keterangan{ 
    width: 400px;
    font-family: monospace;
    font-size: 13px;
    color: rgb(247, 238, 238);
    
}
.formlogin{
    box-sizing: border-box;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background: rgb(132, 194, 245);

}
.lupa{
    padding:7px;
    color: rgb(250, 248, 248);
    font-size: 15;  
    text-decoration: none;  
}

.kliklogin{
    background: rgb(132, 194, 245);
    color: white;
    width: 340px;
    border: none;
    border-radius: 10px;
    padding: 9px;
    font-size: 15px;
    
}